@import "https://js.arcgis.com/3.23/dijit/themes/claro/claro.css";
@import "https://js.arcgis.com/3.23/esri/css/esri.css";

#myRefreshTableNode
{
    position: absolute;
    height: 28px;
    padding: 1px;
    cursor: pointer;
    font-size: 0.7rem;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px;
    /* right: 43px; */
    z-index: 1;
    display: none; 
}

.esri-feature-table-loading-indicator
{
    position: absolute;
    z-index: 2;
    margin-top: 27px;
}

#myTableNode>#myRefreshTableNode
{
    display: block; 
}

#myTableNode
{
    height: calc( 100vh - 300px);
    min-height: 200px;
}

.collapsed>#myDivTableNode
{
    height: calc( 100vh - 195px);
}

.field-OBJECTID, .field-GEOID
{
    width: 47px !important;
    display: table-cell;
}

.GridIcons, .GridIcons:hover {
    margin-left: 15px;
    cursor: pointer;
    color: inherit;
}

/*Para controlar o tamanho da coluna de icones*/

/* Resluções */
@media screen {
    .field-GEOID
    {
        width: 68px !important; 
    }
}

@media screen and (min-width: 240px) { /* 270px */
    .field-GEOID
    {
        width: 67px !important; 
    }
}

@media screen and (min-width: 450px) { /* 480px */
    .field-GEOID
    {
        width: 52px !important; 
    }
}

@media screen and (min-width: 650px) { /* 680px */
    .field-GEOID
    {
        width: 40px !important; 
    }
}

@media screen and (min-width: 738px) { /* 768px */
    .field-GEOID
    {
        width: 30px !important; 
    }
}

@media screen and (min-width: 994px) { /* 1024px */
    .field-GEOID
    {
        width: 22px !important;
    }
}

@media screen and (min-width: 1250px) { /* 1280px */
    .field-GEOID
    {
        width: 17px !important;
    }
}

@media screen and (min-width: 1330px) { /* 1360px */
    .field-GEOID
    {
        width: 16px !important;
    }
}