@import "https://js.arcgis.com/3.23/dijit/themes/claro/claro.css";
@import "https://js.arcgis.com/3.23/esri/css/esri.css";

#myTableNode
{
    height: calc( 100vh - 314px);
}

.collapsed>#myDivTableNode
{
    height: calc( 100vh - 195px);
}

.field-OBJECTID, .field-GEOID
{
    width: 47px !important;
    
    display: table-cell;
}

.GridIcons, .GridIcons:hover {
    margin-left: 15px;
    cursor: pointer;
    color: inherit;
}