<!-- Formulário -->
<form Style="margin-bottom: 15px;">
  <div class="form-row">
      <div class="form-group col-md-5">
          <label for="AgenteSearchInput">Agente:</label>
          <select class="form-control" id="AgenteSearchInput">
              <option>Agente 1</option>
              <option>Agente 2</option>
              <option>Agente 3</option>
          </select>
      </div>

      <div class="form-group col-md-4">
          <label for="StatusSearchInput">ETAPA:</label>
          <select class="form-control" id="StatusSearchInput">
              <option>Todas</option>
              <option>Agendamento</option>
              <option>Vistoria</option>
              <option>Revisão</option>
              <option>Pronto</option>
              <option>Administrativo</option>
          </select>
      </div>

      <div class="form-group col-md-3">
          <label for="datepicker">Data:</label>

          <div class="input-group">
              <input class="form-control" id="datepicker" placeholder="dd/mm/yyyy" name="dp" 
              [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" 
              >
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </button>
              </div>
          </div>
      </div>
  </div>

  <div class="form-row">
      <div class="col-12">
          <label for="PesquisaSearchInput">Pesquisa:</label>
          <input type="text" class="form-control" id="PesquisaSearchInput" placeholder="Por qualquer informação">
      </div>
  </div>
</form> 

<app-inbox-grid [filterName]="''"></app-inbox-grid>